h1 {color : Blue; padding-bottom: 1.5cm; margin: 0px 250px 0px 250px ;text-indent: 0.3cm}
body {margin: 30px 100px 50px 100px ;background-color: white}
p {font-size: 13px; text-indent: 1cm;padding-top: 0.4cm;padding-bottom: 0.4cm ; font-style: justify ;margin: 0px 250px 0px 250px}
table {background-color: white; font-size: 14px  }
html {background-color: aqua}



