body{
  background-image: url("awan.jpg");
  background-size: cover;
  background-attachment: fixed;
}
div.satu {
  width: 55%;
  height: 385px;
  overflow: scroll;
  margin: 10px 0 0 0;
  border: 1px solid black;
  background-color: white;
  background-image: url("avocado.jpg");
  background-repeat: repeat-y;
  background-size: 300px;
  color: blue;
  font-family: sans;
  font-size: 18.6px;
  font-weight: bold;
  text-align: right;
}

.dua {
  color: green;
  font-family: sans;
  font-size: 18.6px;
  font-weight: bold;
  text-align: left;
}

.tiga {
  color: red;
  font-family: sans;
  font-size: 18.6px;
  font-weight: bold;
  text-align: center;
}
